.top-logo {
    display: inline-block;
    padding-right: 40px;
}

.restart {
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}


.search-bar {
    border: 3px solid #58595B;
}

.search-label {
    color: #323132;
}

.search-result-item {
    font-size: 21px;
    padding: 10px 0px 10px 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #58595B;
    text-align: center;
}

.footer-license__img {
    margin-top: 10px;
}

.condition-warn {
    font-size: 18px;
    padding: 1px;
    margin: 1px;
    color: darkred;
}

.input_adjust {
    height: 48px;
}

.selection_adjust {
    width: 446px;
    margin-left: 50px;
}

.results-list {
    margin-top: 30px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 132px;
}

.always-show-banner {
    height: 66px;
}

.pagination {
    margin-bottom: 210px;
}

.pagination-list-item {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pagination-drop-down {
    margin-left: 16px;
    height: 42px;
}

.notifications {
    list-style: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.notifications__item.visible {
    transform: none;
    transition: all 250ms ease-out;
}

.notifications__item--warning {
    background-color: #AA354C;
}

.notifications__item {
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 24px 160px;
    background-color: #AA354C;
    color: #E7E8E9;
    font-size: 18px;
    margin-top: 3px;
    -webkit-transform: translateY(103%);
    transform: translateY(103%);
    transition: all 100ms ease-out;
}

.notifications__button:hover {
    text-decoration: underline;
}

.notifications__button:first-of-type {
    margin-left: 40px;
}

.notifications__button {
    background-color: transparent;
    color: #E7E8E9;
    padding: 0;
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    outline: none;
}

.govuk-phase-banner__content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.govuk-phase-banner__content__tag {
    margin-right: 10px;
}

.govuk-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 21px;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.govuk-phase-banner__text {
    display: inline;
    vertical-align: baseline;
    color: white;
    font-size: 18px;
}

.govuk-link {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.govuk-link:visited {
    color: #4c2c92;
}

.govuk-link:link {
    color: #1d70b8;
}

.instruction-text {
    color: rgb(200, 18, 18);
    padding: 0;
    font-weight: bold;
}

@media (max-width: 767px) {
    .govuk-phase-banner__text {
        font-size: 16px;
    }

    .govuk-tag {
        font-size: 18px;
    }
}

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63vh;
    font-size: 30px;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif
}
