.top-logo {
    display: inline-block;
    padding-right: 40px;
}

.font-size--20 {
    font-size: 20px;
}

.restart {
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}


.search-bar {
    border: 3px solid #58595B;
}

.search-label {
    color: #323132;
}

.search-result-item {
    font-size: 24px;
    padding: 10px 0px 10px 0px;
}

.search-results-desc {
    font-size: 16px;
    padding: 0px 0px 4px 0px;
    margin-bottom: 4px;
    color: black;
}

.search-results-meta {
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #58595B;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #58595B;
    text-align: center;
}

.footer-license__img {
    margin-top: 10px;
}

.condition-warn {
    font-size: 18px;
    padding: 1px;
    margin: 1px;
    color: darkred;
}

.input_adjust {
    height: 48px;
}

.selection_adjust {
    width: 446px;
    margin-left: 50px;
}

.results-list {
    margin-top: 0px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 132px;
}

.always-show-banner {
    height: 66px;
}

.pagination {
    margin-bottom: 210px;
}

.pagination-list-item {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pagination-drop-down {
    margin-left: 16px;
    height: 42px;
}

.notifications {
    list-style: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.notifications__item.visible {
    transform: none;
    transition: all 250ms ease-out;
}

.notifications__item--warning {
    background-color: #AA354C;
}

.notifications__item {
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 24px 160px;
    background-color: #AA354C;
    color: #E7E8E9;
    font-size: 18px;
    margin-top: 3px;
    -webkit-transform: translateY(103%);
    transform: translateY(103%);
    transition: all 100ms ease-out;
}

.notifications__button:hover {
    text-decoration: underline;
}

.notifications__button:first-of-type {
    margin-left: 40px;
}

.notifications__button {
    background-color: transparent;
    color: #E7E8E9;
    padding: 0;
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    outline: none;
}

.govuk-phase-banner__content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.govuk-phase-banner__content__tag {
    margin-right: 10px;
}

.govuk-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #1d70b8;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 21px;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.govuk-phase-banner__text {
    display: inline;
    vertical-align: baseline;
    color: white;
    font-size: 18px;
}

.govuk-link {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.govuk-link:visited {
    color: #4c2c92;
}

.govuk-link:link {
    color: #1d70b8;
}

.instruction-text {
    color: rgb(200, 18, 18);
    padding: 0;
    font-weight: bold;
}

@media (max-width: 767px) {
    .govuk-phase-banner__text {
        font-size: 16px;
    }

    .govuk-tag {
        font-size: 18px;
    }
}

.missing-page-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63vh;
    font-size: 30px;
}

.missing-page-publications {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48vh;
    font-size: 30px;
}

.tabbar {
    background-color: #414042;
    padding-top: 30px;
    box-sizing: border-box;
}

.tab {
    display: inline-block;
    vertical-align: bottom;
    /*float: left;*/
    background-color: #58595B;

    cursor: pointer;
    margin-right: 20px;
    width: 220px;
    color: white;
    height: 40px;
}

.tab-active {
    background-color: white;
    color: black;
    height: 50px;
    width: 230px;
}

.tab-button {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #58595B;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.tab-button-active {
    background-color: white;
    color: black;
}

.results-found {
    margin-top: 40px;
}

.sort-options {
    float: right;
}

.sort-options-label {
    padding-right: 10px
}

.sort-options-select {
    padding: 5px 80px 5px 10px;
}

.filter-title {
    font-weight: bold;
}

.filter-root-title {
    color: #206095;
    cursor: pointer;
}

.up-arrow {
    position: relative;
    top: 1px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-right: 15px;
    margin-left: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down-arrow {
    position: relative;
    bottom: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-right: 15px;
    margin-left: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filter-area-border {
    border-top: 1px solid #D0D2D3;
    margin-top: 10px;
    padding-top: 10px;

}

@media (max-width: 992px) {
    .selected-filter-panel {
        width: 636px;
    }
}

.selected-filter-panel {
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: #EAEAEA;
    position: relative;
    float: left;
    width: 636px;
    line-height: 42px;
}

.checkbox-dimensions {
    width: 20px;
    height: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 10px;
}

.checkbox-topic {
    width: 20px;
    height: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 10px;
}

.radio-geography {
    width: 20px;
    height: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 10px;
}

.topic-group {
    margin-left: 8px;
    border-left-color: #58595B;
    border-left-width: 3px;
    border-left-style: solid;
}

.topic-selection-box {
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-table-opt-box {
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    float: right;
    width: 636px;
    line-height: 42px;
    padding: 20px;
    border: #EAEAEA 5px solid;
}

.custom-area-table-opt-box {
    font-size: 18px;
    margin-left: 20px;
    position: relative;
    width: 636px;
    line-height: 42px;
    padding: 20px;
    background-color: #D0D2D3;
}

.filters__item {
    margin-top: 10px;
}

.pagination-area {
    cursor: pointer;
    color: #206095;
}

.pagination-title {
    font-size: 21px;
    font-weight: bold;
}

.pagination-page-nums {
    margin-left: 25px;
    font-size: 18px;
    text-decoration: underline;
}

.selection-line {
    border-top: 1px solid #D0D2D3;
    margin: 0 16px 0 16px;
}

.breadcrumbs {
    border-bottom: 1px solid #58595B;
    margin-top: 30px;
    padding-bottom: 30px;
}

.dataset-landing-related-datasets-section {
    border-top: 3px solid black;
    margin-top: 30px;
    margin-bottom: 0px;
    border-bottom: 3px solid black;
}

.dimension-selection-area-block {
    float: left;
    width: 200px;

}

.dimension-selection-area-block-group {
    background-color: #D0D2D3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 616px;
    min-width: 200px;
    min-height: 24px;
}


.dataset-landing-related-section {
    float: right;
}

.dataset-landing-main {
    float: left
}

.disclosure-control-box {
    border: 4px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.disclosure-paragraph {
    margin-left: 10px;
    padding-left: 26px;
    border-left-color: #58595B;
    border-left-width: 3px;
    border-left-style: solid;
    margin-top: 60px;
    padding-top: 0px
}

.disclosure-arrow {
    color: #206095;
    cursor: pointer;
    line-height: 26px
}

.disclosure-accordion {
    cursor: pointer;
}

.preview-download-change {
    float: right;
    text-decoration: underline;
    cursor: pointer;
    color: #206095;
    border: 0;
    background-color: #D0D2D3;
}

.mappings-radio {
    height: 30px;
    width: 30px;
}

.mappings-radio-label {
    vertical-align: super;
}

.mappings-selection-area {
    border-bottom: 1px solid #D0D2D3;
}

.separator {
    border-bottom: 1px solid #D0D2D3;
    border-top: 1px solid #D0D2D3;
}

.cursor-pointer {
    cursor: pointer;
}

.black-link {
    color: #323132;
}

.mapContainer {
    float: right;
    /*height: 40vh;*/
    /*width: 40vw;*/
    margin-bottom: 48px;
}

.map-main {
    height: 40vh;
}

.area-profile-title-area {
    border-top: 1px solid #D0D2D3;
}

.general-stats-area {
    border-top: 1px solid #D0D2D3;
    clear: both;
}

.font-size--60 {
    font-size: 60px;
}

.clear-float {
    clear: both;
}

.in-page-tab-bar {
    background-color: white;
}
.in-page-search-input{
    border-left: 1px solid #D0D2D3;
    border-top: 1px solid #D0D2D3;
    border-bottom: 1px solid #D0D2D3;
}
.in-page-search-button{
    background-color: white;
    border-top: 1px solid #D0D2D3;
    border-bottom: 1px solid #D0D2D3;
    border-right: 1px solid #D0D2D3;
}

.border-bottom {
    border-bottom: 1px solid #D0D2D3;
}

.selected-tab-border {
    border-top: 1px solid #D0D2D3;
    border-left: 1px solid #D0D2D3;
    border-right: 1px solid #D0D2D3;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif
}
